<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by D Campbell. It uses data from <em>mapbox.com</em> as well as
            <em>weatherstack.com</em> </p>
        <img class="portrait" src="./img/IMG_4648.JPG">
        <p>This page has been served dynamically</p>
    </div>

    {{>footer}}
</body>

</html>